---
const { title, description, coverImage } = Astro.props;
---

<html lang="en">
  <!-- <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
  </head> -->
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Script&display=swap" rel="stylesheet">
  </head>
  <body style="font-family: 'League Script', serif; background-color:rgb(33, 33, 33); color: #333333; line-height: 1.6; margin: 0;">
    <header style="padding: 1.5rem 32rem; border-bottom: 1px solid #eee;">
      <nav style="display: flex; gap: 2rem; font-weight: bold;">
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/projects">Projects</a>
        <a href="/mypicks">Picks</a>
        <a href="/diary">Diary</a>
        <a href="/spotify">Spotifyyy</a>
        <a href="/about">About</a>
      </nav>
    </header>

    <main style="max-width: 1000px; margin: 2rem auto; padding: 0 1rem;">
      {coverImage && (
        <img src={coverImage} alt={title} style="width: 100%; border-radius: 12px; margin-bottom: 2rem;" />
      )}

      <h1 style="font-size: 2.5rem; margin-bottom: 0.5rem;">{title}</h1>
      {description && <p style="font-style: italic; color: #666;">{description}</p>}

      <div style="margin-top: 2rem;">
        <slot />
      </div>
    </main>

    <footer style="text-align: center; padding: 2rem 0; border-top: 1px solid #eee;">
      <p>© <p style="color: #33ffff;">{new Date().getFullYear()} cheyenneettrujillo — made with ☕ + Astro</p>
    </footer>
  </body>
</html>
